* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./img/background.jpg" ) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-title {
    text-align: center;
}

.accordion {
    width: 70%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.accordion .question {
    margin: 20px 0px;
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.accordion .answer {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    
}



.accordion .accordion-content.active .answer {
    height: 70px;
}